.profile-header {
  background-color: $white;
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid $light-grey;

  &__close {
    float: right;
  }

  &__avatar {
    $size: 96px;
    float: left;
    width: $size;
    height: $size;
    margin-right: 20px;
    border-radius: 50%;

    &--default {
      display: block;
      overflow: hidden;
      position: relative;
      background-color: #28a3ea;

      .profile-header__avatar {
        &-overlay {
          position: absolute;
          left: -20px;
          top: 20px;
        }

        &-overlay:after,
        &-overlay:before {
          content: '';
          position: absolute;
          width: 300px;
          height: 300px;
          background-color: $black;
          opacity: .2;
        }

        &-overlay:before {
          left: -210px;
          transform: rotate(-45deg);
        }

        &-overlay:after {
          left: 10px;
          transform: rotate(45deg);
        }
      }
    }
  }

  &__username {
    $size: 45px;
    margin: 0;
    padding: 0;
    font-size: $size;
    line-height: $size;
  }

  &__wrapper {
    position: relative;

    > * {
      float: left;
    }
  }

  &__two {
    width: calc(30% - 1rem);
    padding: 0 .5rem;
  }

  &__ten {
    width: 70%;
  }

  &__subheading {
    border-bottom: 1px solid #ccc;
    padding-bottom: 1rem;
  }

  &__userinfo {
    list-style: none;
    margin: 1rem 0 2rem;
  }

  &__userinfo-item {
    margin-bottom: .5rem;
  }
}
